body {
    background-color: #f0f8ff; /* light blue background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ffd800;
    text-align: center;
}

h2 {
    color: #444;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px 0;
}

button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

    button:hover {
        background-color: #45a049;
    }
